.intro_ege {
    padding: 250px 0 200px;
    background: url(../img/gia2.webp) 50% 50% no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center
}

.intro__title {
    text-transform: uppercase;
    font-size: 48rem;
    font-family: Inter;
    font-weight: 400
}

@media screen and (max-width: 470px) {
    h1.intro__title {
        font-size: 32rem;
    }
}